* {
	margin: 0;
	padding: 0;

}

html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: rgb(248, 252, 252);
	color: #555;
	font-family: 'Lato', 'Arial', sans-serif;
	font-weight: 300;
	font-size: 20px;
	text-rendering: optimizeLegibility;
	overflow-x: hidden;
}

nav {
	width: 100%;
	background: #00316b;
}

.navbar {
	width: 80%;
	margin: 0 auto;
	background: green;
	padding: 0;

}

.navbar li {
	list-style: none;
	display: inline-block;
	padding: 20px;
	background: black;
	width: 29.8%;
}

.navbar li:hover {
	background-image: linear-gradient(red, blue)
}

.navbar li a {
	color: white;
	text-decoration: none;
	display: block;
	text-align: center
}

p a {
	display: inline-block;
	text-decoration: none;
	text-align: center;
	width: 100%
}

.toggle {
	width: 100%;
	padding: 10px 20px;
	background: #001f44;
	text-align: right;
	box-sizing: border-box;
	display: none
}



.icon {
	color: white;
	font-size: 30px;



}




.row {
	max-width: 1140px;
	margin: 0 auto;

}


main {

	background: red;
	height: 900px;
	width: 100%
}



.box1 {
	background: blue;
	height: 30vh;
	color: white;


}

.box2 {
	background: yellow;
	height: 30vh;


}
